<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546402731135-0oum4gbqm3geppr6in0asnjgibis5v9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546402731135-0oum4gbqm3geppr6in0asnjgibis5v9e</string>
	<key>API_KEY</key>
	<string>AIzaSyDdDk19CY4l-Lj3Z5l6QZpZO3qi2-ZXPa0</string>
	<key>GCM_SENDER_ID</key>
	<string>546402731135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practice</string>
	<key>PROJECT_ID</key>
	<string>practice-18929</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-18929.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546402731135:ios:0a59e25b16c26bf802ab4a</string>
</dict>
</plist>